.app {
  height: 100%;
  display: flex;
  position: relative;
}

body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}

main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
@import '~react-pro-sidebar/dist/scss/styles.scss';
.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .sidebar-btn {
    
    border-radius: 50%;
    background: none;
    color: #adadad;
    text-decoration: none;
    margin: 0 auto;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    outline:none;
    border: 0;
    &:hover {
      color: $highlight-color;
    }
  }
}